body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.App{
    min-height: 100vh;
    background-color: white;
}

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultArea{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search-bar{
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
}

.search-button{
    background: white;
    padding: 5px;
    color: black;
}

.card{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ededed;
}
.post{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background: white;
}
.image{
    border-radius: 50px;
    width: 300px;
    height: 300px;
}